<main>
  <div class="sala-body">
    <div class="sala-content">
      <h1 class="sala-header">¡Bienvenidos a la sala de Mati!</h1>
      <app-tema></app-tema>
      <h2 class="sala-code">Código de la sala: {{ this.salaService.contenedor.codigoSala }}</h2>
      <p class="sala-players">Esperando a los jugadores...</p>
    </div>
    <!-- Botón para admins -->
    <button (click)="iniciarJuego()" class="btn-iniciar">Iniciar Partida</button>

    <!-- Chat -->
    <div class = "chat-main-container">
    <div class="chat-container">
      <div class="chat-messages">
        <div class="chat-messages">
          <div class="message" *ngFor="let message of this.salaService.chatMessages">
            <span class="message-username">{{ message.nickname }}:</span>
            <span class="message-text">{{ message.message }}</span>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="chat-input">
      <input type="text" #input placeholder="Escribe un mensaje">
      <button class="btn btn-primary" (click)="this.salaService.sendMessage(input.value)">Enviar</button>
    </div>
  </div>
</div>
</main>