main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f4f5f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   }

   section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
   }
   
   h2 {
    color: #667eea;
    margin-bottom: 20px;
   }
   button[type="submit"] {
    background-color: #667eea;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   
   button[type="submit"]:hover {
    background-color: #5a67d8
   }

   .navbar {
    background-color: #333;
    padding: 15px;
   }
   
   .navbar-brand {
    color: #fff;
    font-size: 20px;
   }
   
   .navbar-nav {
    list-style-type: none;
    padding: 0;
   }
   
   .nav-item {
    margin-right: 15px;
   }
   
   .nav-link {
    color: #fff;
    text-decoration: none;
   }
   
   .nav-link:hover {
    color: #ccc;
   }