<nav class="navbar"> <a href="#" class="navbar-brand">Mati in the Box</a></nav>

<main>
    <section id = 'card-structure'>
       <h2> Nombre tarjeta </h2>
         <p> Descripcion </p>
            <img src = "../../assets/">
    </section>
    <section id = 'voting-buttons'>
        <button id = "vote-positive" class="btn btn-success"> Me gusta </button>
        <button id = "vote-negative" class="btn btn-danger"> No me gusta </button>
        <button id = "vote-neutral" class="btn btn-warning"> Me da igual </button>
    </section>
</main>
<router-outlet> </router-outlet>