<main>
  <section id="create-game">
      <h2>Crear juego</h2>
          <label for="proposal">Tema:</label>
          <select name="topic" id="topic">
            <option *ngFor="let tema of this.temaS.TEMAS" value="{{tema}}">{{tema}}</option>
          </select>
          <br>

          <label for="unique-code">Código único:</label>
          <input type="text" id="unique-code" name="unique-code">

          <label for="game-link">Link de la sala de juego:</label>
          <input type="text" id="game-link" name="game-link">

          <button type="submit">Crear juego</button>
  </section>
<!-- TEMA -->
  <section id="create-topic">
      <h2>Agregar tema</h2>
                 
          <label for="game-link">Nombre tema:</label>
          <input [(ngModel)]="this.temaContenedor" type="text" id="game-link" name="game-link"> 
          <button type="submit" (click)="this.temaS.addTema(this.temaContenedor)" >Crear tema</button>
  </section>
 <!-- TARJETA -->
  <section id="create-card">
      <h2>Generar tarjeta de actividad</h2>
        <label for="card-title">Título:</label>
        <input [(ngModel)]="this.tarjContenedor.nombre" type="text" id="card-title" name="card-title">

        <label for="card-description">Descripción:</label>
        <input [(ngModel)]="this.tarjContenedor.descripcion" id="card-description" name="card-description">

        <label for="card-theme">Tema:</label>

        <select name="topic" id="topic">
          <option *ngFor="let tema of this.temaS.TEMAS" value="{{tema}}">{{tema}}</option>
        </select>
        
        <br>

        <label for="card-image">Imagen (opcional):</label>
        <input [(ngModel)]="this.tarjContenedor.imagen" type="file" id="card-image" name="card-image" (change)="cargarImagen($event)">
        <button type="submit" (click)="this.tarjS.agregarTarjeta(this.tarjContenedor)">Crear tarjeta</button> 
  </section>


  <section id="join-game">
      <h2>Unirse a un juego</h2>
        <label for="game-code">Código único:</label>
        <input type="text" id="game-code" name="game-code">
        <button type="submit" (click)="unirseSala()">Unirse al juego</button>
  </section>
</main>

<section id="aviable-cards">
  <h2>Tarjetas disponibles</h2>
 <div id="contenido-tarjetasdisp">
  <div *ngFor="let tarjeta of this.tarjS.TARJETAS">
    <div class="card">
      <h3>{{ tarjeta.nombre }}</h3>
      <p>{{ tarjeta.descripcion }}</p>
      <img [src]="this.tarjContenedor.imagen" alt="Imagen de la tarjeta" id="imagen-preview">
    </div>
  </div>
 </div>
</section>
