.gradient-custom {    
    background: linear-gradient(to right, rgb(63, 63, 88), rgb(26, 34, 55));
    min-height: 93vh;
}
.nav-pills .nav-link {
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 500;
    color: #2C2F33;
    background-color: #f1f1f1;
    transition: 0.3s;
    box-shadow: 0px 25px 98px 10px rgba(46,91,255,0.9);
}
   
.nav-pills .nav-link:hover {
    background-color: #ddd;
    color: #337ab7;
}
   
.nav-pills .nav-link.active {
    background-color: #337ab7;
    color: #fff;
}

#recuadro {
    border-radius: 0px 0px 10px 10px;
    height: 28em;
    box-shadow: 0px 10px 98px 1px rgba(46,91,255,0.9);
}

#recuadro-2 {
    border-radius: 0px 0px 10px 10px;
    height: 31em;
    box-shadow: 0px 10px 98px 1px rgba(46,91,255,0.9);
}

/*boton login*/
.btnlogin-hover, .btnunirse-hover {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btnlogin-hover:hover, .btnunirse-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btnlogin-hover:focus, .btnunirse-hover.bn25:focus {
    outline: none;
  }
  
  .btnlogin-hover.bn26 {
    background-image: linear-gradient(
      to right,
      #268cb8,
      #3768bc,
      #0286b1,
      #3065b4
    );
    box-shadow: 0 4px 15px 0 rgba(27, 97, 129, 0.75);
  }

  /*boton unirse*/
  
  .btnunirse-hover.bn25 {
    background-image: linear-gradient(
      to right,
      rgb(116, 117, 141),
      rgb(43, 73, 118),
      #2b5876,
      #4e4376
    );
    box-shadow: 0 4px 15px 0 rgba(64, 88, 117, 0.75);
  }

  /*css de botones tomado de https://cssbuttons.app*/