/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ede4d5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   }